@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* = RESET STYLES = */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a img {
	margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;
}

/* = DEFAULT STYLES = */
body {text-align:center;margin:0;font-family:'Open Sans',arial, sans-serif;font-size:12px;background:#de7408;color:#333;min-width:1000px;}


/* PAGE ELEMENTS */
h1 {font-size:28px;line-height:32px; color:#009272; font-weight: bold; border-bottom:1px dotted #666;}
h1 span {font-size:25px;color:#c9b193;display:block;}
h2 {font-size:18px; margin: 1vw; color:#009272; font-weight: bold; text-decoration: underline;}
h3 {font-size:15px; color:#009272; font-weight: bold; margin-bottom: 1vw;}
h4 {font-size:15px;}
p{padding: 1vw; font-style: italic; font-size: 15px;}
dt{margin: 5px 0 0 0; font-weight: bold; font-size: 15px;}
dd{margin: 5px 0 10px 0; font-size: 15px; }
dl{margin: 2vw;}
th{margin: 5px 0 0 0; font-weight: bold; font-size: 15px;}
td{margin: 5px 0 0 0; font-size: 15px; }
table{ margin-bottom: 2vw; padding: 3vw;}
.btn-light{ font-weight:bold;color:#009272;font-size:15px;}
a {text-decoration:none;font-weight:bold;color:#009272;font-size:15px;}
a:hover {text-decoration:underline;}
ul{list-style: none;}

.shadow {-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .3);box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, .3);}
#page {width:95vw; height: 145vw; padding:15px;margin:15px auto;background:#fff;border-radius:4px;}

/* = NAVIGATION = */
#nav {margin:0 0 15px 0;padding:0 120px;position:relative;z-index: 50;background:url(images/bg-c2a.png) repeat-x;height:29px;border-bottom:1px solid #6a0000;border-top:1px solid #6a0000;border-radius:4px;}
#nav ul {padding:0;margin:0;list-style-type:none;}
#nav ul li {float:left;position: relative;}
#nav ul li a, #nav ul:hover li.current a {display:block;font-weight:bold;text-transform:uppercase;color:#fff;text-shadow:-1px -1px 0 #6a0000;background:none;border-radius:4px;padding:0px 15px;border:none;margin:2px 10px 0 0;}
#nav ul li a:hover, #nav ul li.current a, #nav ul:hover li.current:hover a {text-decoration:none;background:#ad1f23;border-top:1px solid #6a0000;border-bottom:1px solid #ffabc3;color:#fff446;}


/* SIDEBAR */
#searchByForm{position:static;width: 30%;padding:1vw;margin-top: -3vw;left: 0vw;}
.dropdown{padding-top: 1vw;padding-bottom: 1vw;position: relative;float: left;}
/* input #firstNameDrop{padding-bottom: 1vw;margin: 1vw;} */

/* = FORM = */
form {text-align:left;list-style-type:none; font-size: 15px;}
/* FORM - LABEL */
form label {cursor:pointer;clear: both; padding: .5vw; margin: .5vw; font-weight: bold;}
/* FORM - INPUT FIELDS */
form input[type="text"] {border-radius: 3px; width:20vw;}
form input[type="checkbox"] {width:auto;}
/* form input {border: 1px solid #999;width: 20vw; padding:1vw; margin:1vw; height:25px;} */
form input {clear:both;}
form input:focus, form textarea:focus {background: #FF9;}	/* make field background yellow when filling out */
form textarea {resize:vertical;clear: both;height: 80px;}

/* FORM - CAPTCHA */
form img {float: left;clear: both;}
form #captcharesult {color:#F00;float: left;clear: both;}
form a {display: block;float: left;clear: both;}
/* FORM - SUBMIT BUTTON */
form input[type="submit"] {margin:10px 0; float: left; width: auto; display:block; }

/* Form.php */
#image{padding: 1vw;}
#memberTypeDiv{left: 0;  clear:both;}
#notes{display: block;}
#cancelBtn{margin-top: .80vw; height:auto; float: none;}
#imgDiv{margin-left: 1vw;}
#notes{margin-left: 1vw;}

#nextBtn{margin-left: -5vw;}

/* Index */
#MembershipTable{margin-left:37vw; position: relative; margin-top:-20vw;}

/* Sidebar */
#reports{clear: left;}
#Utilities{clear:left;}
#searchByForm h2{clear:left;}

/* Report modal  */
#mail{width:100%;}
.address{font-size: 10px; margin:0 ;padding: 0;}
#mailRow{ margin:0 ;padding: 0;}

/* reports.php */
#reportsTitle{margin-bottom: 5vw;}
